.img_box {
  display: block;
  position: relative;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.img_title {
  font-size: clamp(30px, 5vw, 48px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
